*{
    padding: 0;
    margin: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}

main{
    margin-top: 90px;
    padding: 50px;
    text-align: center;
}

#s-services img{
    border-radius: 10px;
    margin-top: 3%;
}

#s-body{
    display: flex;
    justify-content: space-evenly;
}

#services-1 p{
    font-size: 18px;
    line-height: 30px;
}

footer{
    width: 100vw;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
footer p{
    font-size: 18px;
}

#ft-1{
    display: flex;
    justify-content: space-evenly;
    margin-right: 30px;
}
footer h2{
    color: black;
}

@media(max-width: 768px){
    footer{
        padding: 50px;
    }
    foot{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.589);
        color: white;
        display: flex;
        text-align: center;
        align-items: center;
    }
    footer p{
        font-size: 18px;
    }
    
    #ft-1{
        display: flex;
        justify-content: space-evenly;
        margin-right: 30px;
    }
    footer h2{
        color: black;
    }

    main{
        margin-top: 90px;
        padding: 50px;
        text-align: center;
    }
    main h1{
        color: rgba(0, 0, 0, 0.692);
    }
    
    #s-services img{
        width: 350px;
        border-radius: 10px;
        margin-top: 3%;
    }
    
    #s-body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #services-1{
        padding: 30px;
    }
    
    #services-1 p{
        font-size: 18px;
        line-height: 30px;
    }
}